.title {
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 130%;
  color: #1A2578;
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 169%;
  color: #484C63;
}

.btn {
  font-size: 16px;
  line-height: 150%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.005em;
  color: #FFFFFF;
  padding: 14px 32px;
  background: #BF0830;
  border-radius: 6px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.transparent-button {
  background: transparent;
  border: 1px solid #BF0830;
  border-radius: 6px;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.005em;
  color: #BF0830;
  padding: 14px 32px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.transparent-button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: #FFFFFF;
  background-color: #BF0830;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

li,
ol,
ul {
  list-style: none;
  margin: 0;
}

img {
  vertical-align: top;
}

body {
  font-family: 'Inter';
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 1138px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 1176px) {
  .container.container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .container.container {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .container.container {
    max-width: none;
  }
}

/*-------------------------------TRANSFORMATION-THING---------------------*/
.transformation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .transformation {
    gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 767px) {
  .transformation {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.transformation__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

@media (max-width: 767px) {
  .transformation__item {
    text-align: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 992px) {
  .transformation__title {
    font-size: 36px;
  }
}

@media (max-width: 767px) {
  .transformation__title {
    font-size: 30px;
    text-align: center;
  }
}

.transformation__text {
  margin-top: 16px;
}

@media (max-width: 767px) {
  .transformation__text {
    font-size: 14px;
  }
}

.transformation__image {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@media (max-width: 767px) {
  .transformation__image {
    max-width: 400px;
  }
}

@media (max-width: 400px) {
  .transformation__image {
    max-width: 300px;
  }
}

/*-------------------------------TRANSFORMATION-THING---------------------*/
.bg__body {
  background: linear-gradient(247.11deg, #E3E7F6 3.56%, rgba(227, 231, 246, 0) 115.17%);
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 27px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 992px) {
  .navbar__logo img {
    width: 100px;
  }
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 30px;
}

@media (max-width: 585px) {
  .navbar__list {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (max-width: 400px) {
  .navbar__list {
    gap: 25px;
  }
}

@media (max-width: 373px) {
  .navbar__list {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.navbar__list--item {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #646A89;
}

@media (max-width: 767px) {
  .navbar__list--item {
    font-size: 16px;
  }
}

.navbar__list--item:not(:last-child):hover {
  text-decoration: underline;
}

.navbar__btn {
  font-size: 16px;
  line-height: 150%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.005em;
  color: #FFFFFF;
  padding: 14px 32px;
  background: #BF0830;
  border-radius: 6px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.navbar__btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media (max-width: 992px) {
  .navbar__btn {
    padding: 14px 28px;
  }
}

@media (max-width: 767px) {
  .navbar__btn {
    padding: 10px 24px;
  }
}

.hero__section {
  padding-top: 155px;
  position: relative;
}

.hero__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .hero__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 30px;
  }
}

.hero__left-item {
  max-width: 504px;
  width: 100%;
}

@media (max-width: 992px) {
  .hero__left-item {
    max-width: none;
  }
}

.hero__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

@media (max-width: 767px) {
  .hero__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.hero__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 129%;
  color: #1A2578;
}

.hero__title span {
  color: #BF0830;
}

@media (max-width: 992px) {
  .hero__title {
    font-size: 36px;
  }
}

@media (max-width: 767px) {
  .hero__title {
    font-size: 28px;
  }
}

.hero__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  max-width: 190px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 992px) {
  .hero__btn {
    padding: 12px 30px;
  }
}

@media (max-width: 767px) {
  .hero__btn {
    font-size: 14px;
    margin: 40px auto 0;
  }
}

@media (max-width: 450px) {
  .hero__btn {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    max-width: none;
  }
}

.culturecode__section {
  padding-top: 125px;
  padding-bottom: 42px;
}

@media (max-width: 450px) {
  .culturecode__section {
    padding-top: 75px;
  }
}

.culturecode__title {
  text-align: center;
}

@media (max-width: 1176px) {
  .culturecode__title {
    font-size: 34px;
  }
}

@media (max-width: 992px) {
  .culturecode__title {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .culturecode__title {
    font-size: 28px;
  }
}

.culturecode__text {
  text-align: center;
  margin-top: 16px;
}

@media (max-width: 767px) {
  .culturecode__text {
    font-size: 14px;
  }
}

.culturecode__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 36px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 100px;
}

@media (max-width: 1176px) {
  .culturecode__list {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (max-width: 992px) {
  .culturecode__list {
    -webkit-column-gap: 18px;
            column-gap: 18px;
    row-gap: 36px;
  }
}

.culturecode__item {
  max-width: 345px;
  width: 100%;
  padding: 40px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 25px 35px rgba(22, 23, 72, 0.05);
          box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 25px 35px rgba(22, 23, 72, 0.05);
  border-radius: 8px;
}

@media (max-width: 992px) {
  .culturecode__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding: 35px;
  }
}

@media (max-width: 767px) {
  .culturecode__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    max-width: 450px;
    padding: 30px;
  }
}

.culturecode__item-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 111%;
  color: #3A3A3C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

@media (max-width: 992px) {
  .culturecode__item-title {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .culturecode__item-title {
    font-size: 22px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.culturecode__item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 169%;
  color: #484C63;
  margin-top: 32px;
}

@media (max-width: 992px) {
  .culturecode__item-text {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  .culturecode__item-text {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
  }
}

.lifemozi__bg {
  background: linear-gradient(270.76deg, #E3E7F6 -55.5%, rgba(227, 231, 246, 0) 145.36%);
}

.lifemozi__section {
  padding: 58px 0;
}

@media (max-width: 480px) {
  .lifemozi__section {
    padding: 30px 0;
  }
}

.lifemozi__text {
  margin-top: 16px;
}

@media (max-width: 1176px) {
  .lifemozi__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 48%;
            flex: 0 1 48%;
  }
}

@media (max-width: 992px) {
  .lifemozi__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%;
  }
}

@media (max-width: 767px) {
  .lifemozi__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.lifemozi__item:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
}

.lifemozi__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .lifemozi__body {
    row-gap: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .lifemozi__body img {
    display: none;
  }
}

@media (min-width: 992px) {
  .lifemozi__img-appearance {
    display: none;
  }
}

.lifemozi__4pics-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  margin-top: 51px;
}

@media (max-width: 1176px) {
  .lifemozi__4pics-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 992px) {
  .lifemozi__4pics-list {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    gap: 30px;
  }
}

@media (max-width: 767px) {
  .lifemozi__4pics-list {
    margin-top: 40px;
  }
}

@media (max-width: 480px) {
  .lifemozi__4pics-list {
    margin-top: 20px;
  }
}

.lifemozi__texts {
  max-width: 323px;
}

@media (max-width: 992px) {
  .lifemozi__texts {
    text-align: center;
    max-width: none;
  }
}

.lifemozi__title {
  font-weight: 400;
  font-size: 44px;
  line-height: 141%;
  color: #1A2578;
  max-width: 200px;
}

@media (max-width: 1176px) {
  .lifemozi__title {
    max-width: none;
  }
}

@media (max-width: 992px) {
  .lifemozi__title {
    font-size: 32px;
  }
}

@media (max-width: 767px) {
  .lifemozi__title {
    font-size: 26px;
  }
}

@media (max-width: 767px) {
  .lifemozi__text {
    font-size: 14px;
  }
}

@media (max-width: 1176px) {
  .lifemozi__img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
}

.recommendmozi__section {
  padding-top: 106px;
  padding-bottom: 48px;
}

@media (max-width: 992px) {
  .recommendmozi__section {
    padding-top: 75px;
  }
}

@media (max-width: 480px) {
  .recommendmozi__section {
    padding-top: 45px;
  }
}

.recommendmozi__body {
  padding-left: 69px;
  padding-right: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1176px) {
  .recommendmozi__body {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 992px) {
  .recommendmozi__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 30px;
  }
}

@media (max-width: 767px) {
  .recommendmozi__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.recommendmozi__right-item {
  max-width: 232px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 5px;
}

@media (max-width: 767px) {
  .recommendmozi__left-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.recommendmozi__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 133%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1A2578;
  max-width: 450px;
  gap: 27px;
}

@media (max-width: 992px) {
  .recommendmozi__title {
    font-size: 28px;
  }
}

@media (max-width: 767px) {
  .recommendmozi__title {
    font-size: 26px;
  }
}

@media (max-width: 767px) {
  .recommendmozi__title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
    max-width: none;
  }
}

@media (max-width: 992px) {
  .recommendmozi__img {
    width: 95px;
    height: 95px;
  }
}

@media (max-width: 992px) {
  .recommendmozi__img-glassdoor {
    width: 160px;
  }
}

.recommend__item-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 172%;
  gap: 4px;
}

@media (max-width: 992px) {
  .recommend__item-number {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .recommend__item-number {
    font-size: 26px;
  }
}

.recommendmozi__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #424B5A;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.recommendmozi__link:hover {
  text-decoration: none;
  color: #BF0830;
}

.recommendmozi__link:hover::after {
  -webkit-transform: translate(20px);
          transform: translate(20px);
}

.recommendmozi__link::after {
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  margin-left: 4px;
  content: '';
  width: 20px;
  height: 20px;
  background: url(/media/CAREER__Recommend-mozi-arrow.svg);
}

.joinpack__section {
  padding-top: 127PX;
  padding-bottom: 44px;
}

@media (max-width: 992px) {
  .joinpack__section {
    padding-top: 100px;
  }
}

@media (max-width: 767px) {
  .joinpack__section {
    padding-top: 60px;
  }
}

.joinpack__title {
  text-align: center;
}

@media (max-width: 992px) {
  .joinpack__title {
    font-size: 36px;
  }
}

@media (max-width: 767px) {
  .joinpack__title {
    font-size: 28px;
  }
}

.joinpack__text {
  margin-top: 16px;
  text-align: center;
}

@media (max-width: 767px) {
  .joinpack__text {
    font-size: 14px;
  }
}

.joinpack__body {
  margin-top: 101px;
}

@media (max-width: 767px) {
  .joinpack__body {
    margin-top: 50px;
  }
}

.joinpack__item {
  padding: 35px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 17px 35px rgba(22, 23, 72, 0.05);
          box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 17px 35px rgba(22, 23, 72, 0.05);
  border-radius: 8px;
}

@media (max-width: 992px) {
  .joinpack__item {
    padding: 35px 40px;
  }
}

@media (max-width: 767px) {
  .joinpack__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 30px 20px;
  }
}

.joinpack__item:not(:first-child) {
  margin-top: 30px;
}

@media (max-width: 767px) {
  .joinpack__left-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    text-align: center;
  }
}

.joinnpack__item-title {
  font-weight: 400;
  font-size: 28px;
  line-height: 96%;
  color: #484C63;
}

@media (max-width: 992px) {
  .joinnpack__item-title {
    font-size: 24px;
    max-width: 350px;
  }
}

@media (max-width: 767px) {
  .joinnpack__item-title {
    font-size: 20px;
    max-width: none;
  }
}

.joinpack__img-with-text {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

@media (max-width: 767px) {
  .joinpack__img-with-text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.joinpack__item-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 135%;
  color: #8F90A6;
}

@media (max-width: 992px) {
  .joinpack__item-text {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .joinpack__item-text {
    font-size: 16px;
  }
}

.joinpack__item-text img {
  margin-right: 5px;
}

@media (max-width: 767px) {
  .joinpack__btn {
    margin-top: 24px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .joinpack__btn {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    text-align: center;
  }
}

.joinpack__btn2-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.joinpack__btn2 {
  margin-top: 68px;
  max-width: 143px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 480px) {
  .joinpack__btn2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    max-width: none;
    font-size: 14px;
    padding: 12px 32px;
  }
}

.didntfind__section {
  padding: 112px 0;
}

@media (max-width: 992px) {
  .didntfind__section {
    padding: 95px 0;
  }
}

@media (max-width: 767px) {
  .didntfind__section {
    padding: 75px 0 50px;
  }
}

.wannaknow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 480px) {
  .wannaknow {
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
}

.wannaknow__title {
  text-align: center;
  max-width: 782px;
}

@media (max-width: 992px) {
  .wannaknow__title {
    font-size: 36px;
  }
}

@media (max-width: 767px) {
  .wannaknow__title {
    font-size: 30px;
    max-width: none;
  }
}

.wannaknow__text {
  text-align: center;
  margin-top: 16px;
}

@media (max-width: 767px) {
  .wannaknow__text {
    font-size: 14px;
  }
}

.wannaknow__btns {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 480px) {
  .wannaknow__btns {
    margin-top: 25px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: none;
  }
}

.wannaknow__btn {
  text-align: center;
}

@media (max-width: 767px) {
  .wannaknow__btn {
    padding: 12px 28px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .wannaknow__btn {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 670px) {
  .footer__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 70px;
  }
}

.footer {
  background: #0D123C;
  padding-top: 55px;
  padding-bottom: 64px;
}

.footer__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

@media (max-width: 670px) {
  .footer__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 767px) {
  .footer__logo {
    width: 125px;
  }
}

@media (max-width: 670px) {
  .footer__logo {
    width: 115px;
    text-align: center;
  }
}

.footer__text {
  margin-top: 25px;
  color: #FFFFFF;
  max-width: 287px;
}

@media (max-width: 670px) {
  .footer__text {
    max-width: none;
    text-align: center;
  }
}

.right-item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.footer__item-title:hover {
  color: #BF0830;
}

.footer__list {
  margin-top: 30px;
}

.footer__separator {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 97px;
}

@media (max-width: 992px) {
  .footer__separator {
    row-gap: 25px;
    -webkit-column-gap: 35px;
            column-gap: 35px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 767px) {
  .footer__separator {
    -webkit-column-gap: 50px;
            column-gap: 50px;
  }
}

@media (max-width: 425px) {
  .footer__separator {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.footer__list-item:not(:first-child) {
  margin-top: 20px;
}

.footer__item-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.footer__item-link:hover {
  color: #BF0830;
}

.footer__list-icons {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.footer__list-icon:hover path, .footer__list-icon:hover circle {
  fill: #BF0830;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}
/*# sourceMappingURL=career.css.map */