.title {
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 130%;
  color: #1A2578;
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 169%;
  color: #484C63;
}

.btn {
  font-size: 16px;
  line-height: 150%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.005em;
  color: #FFFFFF;
  padding: 14px 32px;
  background: #BF0830;
  border-radius: 6px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.transparent-button {
  background: transparent;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 1px solid #BF0830;
  border-radius: 6px;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.005em;
  color: #BF0830;
  padding: 14px 32px;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.transparent-button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: #FFFFFF;
  background-color: #BF0830;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

li,
ol,
ul {
  list-style: none;
  margin: 0;
}

img {
  vertical-align: top;
}

body {
  font-family: 'Inter';
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 1138px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 1176px) {
  .container.container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .container.container {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .container.container {
    max-width: none;
  }
}

/*--------------------------------------------------------------*/
.header__bg {
  background: linear-gradient(252.91deg, #E3E7F6 3.68%, rgba(227, 231, 246, 0) 97.82%);
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 27px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 992px) {
  .navbar__logo img {
    width: 100px;
  }
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 20px;
}

@media (max-width: 585px) {
  .navbar__list {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (max-width: 400px) {
  .navbar__list {
    gap: 25px;
  }
}

@media (max-width: 373px) {
  .navbar__list {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.navbar__list--item {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #646A89;
}

@media (max-width: 767px) {
  .navbar__list--item {
    font-size: 16px;
  }
}

.navbar__list--item:not(:last-child):hover {
  text-decoration: underline;
}

.navbar__btn {
  font-size: 16px;
  line-height: 150%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.005em;
  color: #FFFFFF;
  padding: 14px 32px;
  background: #BF0830;
  border-radius: 6px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.navbar__btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media (max-width: 992px) {
  .navbar__btn {
    padding: 14px 28px;
  }
}

@media (max-width: 767px) {
  .navbar__btn {
    padding: 10px 24px;
  }
}

/*---------------------------------HERO-SECTION-----------------------------------------------------*/
.hero__section {
  padding-top: 91px;
}

.transformation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .transformation {
    gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 767px) {
  .transformation {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.transformation__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

@media (max-width: 767px) {
  .transformation__item {
    text-align: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 992px) {
  .transformation__title {
    font-size: 36px;
  }
}

@media (max-width: 767px) {
  .transformation__title {
    font-size: 30px;
    text-align: center;
  }
}

.tools__text {
  margin-top: 40px !important;
}

@media (max-width: 767px) {
  .tools__text {
    margin-top: 16px !important;
  }
}

.transformation__text {
  margin-top: 16px;
}

@media (max-width: 767px) {
  .transformation__text {
    font-size: 14px;
  }
}

.transformation__image {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@media (max-width: 767px) {
  .transformation__image {
    max-width: 400px;
  }
}

@media (max-width: 400px) {
  .transformation__image {
    max-width: 300px;
  }
}

.cookies__section {
  padding-top: 103px;
  padding-bottom: 139px;
}

@media (max-width: 992px) {
  .cookies__section {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

@media (max-width: 767px) {
  .cookies__section {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

@media (max-width: 992px) {
  .cookies__svg-title {
    width: 215px;
    height: 37px;
  }
}

@media (max-width: 767px) {
  .cookies__svg-title {
    width: 200px;
    height: 33px;
  }
}

@media (max-width: 767px) {
  .tools__text {
    font-size: 14px;
  }
}

.cookies__btn {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 185px;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  .cookies__btn {
    margin: 25px auto 0;
    padding: 12px 28px;
    font-size: 14px;
  }
}

@media (max-width: 450px) {
  .cookies__btn {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: none;
    margin: 25px 0 0 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.cookies__img {
  padding-left: 20px;
}

@media (max-width: 767px) {
  .cookies__img {
    padding-left: 0;
  }
}

.webtoffee__section {
  padding-bottom: 82px;
}

@media (max-width: 767px) {
  .webtoffee__section {
    padding-bottom: 75px;
  }
}

.webtoffee__text {
  margin-top: 40px;
}

@media (max-width: 992px) {
  .webtoffee__text {
    margin-top: 32px;
  }
}

.webtoffee__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 52px;
  max-width: 183px;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 992px) {
  .webtoffee__btn {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .webtoffee__btn {
    max-width: 183px;
    margin: 20px auto 0;
    padding: 12px 28px;
    font-size: 14px;
  }
}

@media (max-width: 450px) {
  .webtoffee__btn {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: none;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (max-width: 767px) {
  .webtoffee__flip-over {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.webtoffee__left-item {
  max-width: 511px;
  max-height: 511px;
  padding-right: 25px;
}

@media (max-width: 992px) {
  .webtoffee__left-item {
    padding-right: 0;
  }
}

.webtoffee__right-item {
  max-width: 470px;
}

@media (max-width: 767px) {
  .webtoffee__right-item {
    max-width: none;
  }
}

.wannaknow__section {
  padding: 136px 0;
}

@media (max-width: 992px) {
  .wannaknow__section {
    padding: 100px 0;
  }
}

@media (max-width: 767px) {
  .wannaknow__section {
    padding: 40px 0 75px;
    text-align: center;
  }
}

.wannaknow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 450px) {
  .wannaknow {
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
}

.wannaknow__title {
  text-align: center;
  max-width: 782px;
}

@media (max-width: 992px) {
  .wannaknow__title {
    font-size: 36px;
  }
}

@media (max-width: 767px) {
  .wannaknow__title {
    font-size: 30px;
    max-width: none;
  }
}

.wannaknow__text {
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 767px) {
  .wannaknow__text {
    font-size: 14px;
  }
}

.wannaknow__btns {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

@media (max-width: 450px) {
  .wannaknow__btns {
    margin-top: 25px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: none;
  }
}

.wannaknow__btn {
  text-align: center;
}

@media (max-width: 767px) {
  .wannaknow__btn {
    padding: 12px 28px;
    font-size: 14px;
  }
}

@media (max-width: 450px) {
  .wannaknow__btn {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: none;
  }
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 670px) {
  .footer__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 70px;
  }
}

.footer {
  background: #0D123C;
  padding-top: 55px;
  padding-bottom: 64px;
}

.footer__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

@media (max-width: 670px) {
  .footer__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 767px) {
  .footer__logo {
    width: 125px;
  }
}

@media (max-width: 670px) {
  .footer__logo {
    width: 115px;
    text-align: center;
  }
}

.footer__text {
  margin-top: 25px;
  color: #FFFFFF;
  max-width: 287px;
}

@media (max-width: 670px) {
  .footer__text {
    max-width: none;
    text-align: center;
  }
}

.right-item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.footer__item-title:hover {
  color: #BF0830;
}

.footer__list {
  margin-top: 30px;
}

.footer__separator {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 97px;
}

@media (max-width: 992px) {
  .footer__separator {
    row-gap: 25px;
    -webkit-column-gap: 35px;
            column-gap: 35px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 767px) {
  .footer__separator {
    -webkit-column-gap: 50px;
            column-gap: 50px;
  }
}

@media (max-width: 425px) {
  .footer__separator {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.footer__list-item:not(:first-child) {
  margin-top: 20px;
}

.footer__item-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.footer__item-link:hover {
  color: #BF0830;
}

.footer__list-icons {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.footer__list-icon:hover path, .footer__list-icon:hover circle {
  fill: #BF0830;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.rights-reserved {
  border-top: 1px solid rgba(197, 203, 226, 0.5);
  padding: 29px 0 38px 0;
  background: #0D123C;
}

.rights-reserved__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rights-reserved__leftone {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  padding-right: 25px;
}

.rights-reserved__rightone {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-align: center;
}
/*# sourceMappingURL=products.css.map */